<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projetFinal.Properties.Settings.B56Projet2Equipe7ConnectionString"
            connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=B56Projet2Equipe7;Persist Security Info=True;User ID=B56P2Equipe7;Password=CaroRazvan1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>